script
    var IDivedIt = IDivedIt || {};
    IDivedIt.CountriesJSON = !{countries_json}

h3(class="countries") Find Reviews By Country

ul(id="countries")
    each country in countries
        li(id="country#{country.id}")
            a.country(href="#") #{country.name}
            ul.resorts(id="resortsfor#{country.id}")