html
    head
        title I Dived It - Reviews of your favourite dive sites
        script(src="/js/lib/jquery.js")
        script(src="/js/lib/underscore.js")
        script(src="/js/lib/backbone.js")
        link(href="/css/styles.css")
    body
        h1
            a(href="/") I Dived It