html
    head
        title I Dived It - Reviews of your favourite dive sites
        script(src="/js/lib/jquery.js")
        script(src="/js/lib/underscore.js")
        script(src="/js/lib/backbone.js")
        link(rel="stylesheet",href="/css/styles.css")
    body
        header(class="title")
            div(class="title")
                a(href="/") I Dived It
            div(class="subtitle") Read and Write Reviews of your favourite dive sites
        