nav
    form.search
        label(for="search") Search for dive sites:
        br
        input(type="text",name="search")
        input(type="button",class="button",value="GO!")

    a(href="/review/add",class="add") Write a Review

    include countries